<% unless @hidden || !@message %>
<h2><%= @message.body %></h2>
<% end %>

<%= link_to 'Hide message', inspirations_change_path %> |
<%= link_to 'Log out', logout_path, method: :delete %> |
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
